
 <%= stylesheet_link_tag 'sessions.css' %>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Join The Challenge </h2>
    <h2 class="inactive underlineHover">
     </h2>
        
    <!-- Icon -->
    <div class="fadeIn first">
      <img />
    </div>



<div class="form-group">
    <%= form.label :Group_Name %>
    <%= form.text_field :group_name, class: "form-control"%>
</div>

<div class="form-group">
    <%= form.label :Team_Mates_Email %>
    <%= form.text_field :teammate_email, class: "form-control"%>
</div>

<div class="form-group">
    <%= form.label :Group_Bio %>
    <%= form.text_field :bio, class: "form-control"%>
</div>

<div class="form-group">
    <%= form.label :Team_Github_Link %><br />
    https://github.com/
    <%= form.text_field :github_link, class: "form-control"%>
</div>

