<div class="form-group">
    <%= form.label :Group_Name %>
    <%= form.text_field :group_name, class: "form-control"%>
</div>

<div class="form-group">
    <%= form.label :Team_Mates_Email %>
    <%= form.text_field :teammate, class: "form-control"%>
</div>

<div class="form-group">
    <%= form.label :Group_Bio %>
    <%= form.text_field :bio, class: "form-control"%>
</div>