<html>
<head> 
 <%= stylesheet_link_tag 'teams.css' %>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>



<body>

<div class = "container" >
<div class="heading-title text-center">

      <h3 class="text-uppercase"> <%= @event.topic %> Challenge </h3> 
      <br/>

   
  <div class="text">
      <% if @event.id == 7 %>
The teams below are competing  <div class = "description"> LIVE </div>  for the grand prize. Click ahead to view the live feed for each team and to cast your votes. 

      <% else %>
The teams below have competed for the grand prize. The winner for this event is    <div class = "description" > <%= @event.winning_team %>. </div> 
      <% end %>
  </div>


</div> 


<table>
  <thead>
    <tr>
      <th width="30%">  </th>
      <th width="10%">  </th>
      <th width="30%">  </th>
      <th width="30%">  </th>
      <th colspan="3"></th>
    </tr>
  </thead>
             
    

  <tbody class="flex justify-content-around"> 

    <% @teams.each_with_index do |team, index| %> 
    <% if team.event_id == @event.id  %>   
      <tr>
          <td>
                <h3 class = "teamname"> Team <%= team.group_name %> </h3>
                <h4>  <%= team.bio %> </h4> 
                      <%= link_to "View Team", event_team_path(event_id: params[:event_id], id: team.id), class: "button" %> &nbsp; 
                      <i style="font-size:20px; color:black" class="fa"> &#xf139; </i> <%= team.get_upvotes.size %> &nbsp;
                      <i style="font-size:20px; color:black" class="fa"> &#xf13a; </i> <%= team.get_downvotes.size %> 
          </td>    
    <%end%>
    
    <% if team.event_id == @event.id %>
         
          <td>
          </td>


   <% team.users.each do |user| %>


          <td> 
            <div class="team-member">

                  <div class="team-img">

                     <p class="membername"> <%= user.first_name %> </p>
                        <%= image_tag user.avatar.thumb.to_s %>
                          <div class="team-hover">
                                <div class="desk">
                                         <p> <%= user.about %></p>
                                </div>
                                <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                          </div>
                  </div>
            </div>
          </td>
        <% end %>

      </tr>
    <% end %>
    <%end%>    
  </tbody>
</table>

<div class="back">
<%= link_to 'Back', events_path %>
</div>
</div>


</div>

</body>
</html>
