<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Team name</th>
      <th>Team bio</th>
      <th>Team members</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @teams.each_with_index do |team, index| %> 
      <% if team.event_id == @event.id  %>   
      <tr>
          <td><%= team.group_name %></td>
          <td><%= team.bio %></td> 
          
          <% team.users.each do |user| %>
          <td><%= user.first_name %></td>
              <% end %>
             
          <td>
            <%= link_to "Edit", edit_event_team_path(event_id: params[:event_id], id: team.id), class: "btn btn-outline-info" %>
          </td>
          <td>
            <%= link_to "View Team", event_team_path(event_id: params[:event_id], id: team.id), class: "btn btn-outline-info" %>
          </td>
      </tr>
    <%end%>
    <% end %>
  </tbody>
</table>

