<div class="container">
    <div>
        Team Number: <%= @team.id %> <br>
        Team Name: <%= @team.group_name %> <br>
        <%= @team.bio %> <br>

        Team Members: <br>
        <% @users.each_with_index do |user,index| %>
            <%= "#{index + 1}" %> <%= user.first_name %> <%= user.last_name %> ,
            Twitch ID: <%= user.twitch_id %> <br>
        <% end %>
    </div>
    <div class="d-flex">
        <% @users.each do |user| %>
            <div class="mr-2">
                <iframe
                    src="https://player.twitch.tv/?channel=<%="#{user.twitch_id}"%>&muted=true"
                    height="300"
                    width="600"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true">
                </iframe>
            </div>
        <% end %>
    </div>

    <div>
        <table>
<thead>
<tr>
<th>Commit status</th>
<th>Teammember</th>
<th>Submitted Time</th>
</tr>
</thead>
<tbody>
<%rss = RSS::Parser.parse("https://github.com/#{@team.github_link}/commits/master.atom", false)%>
<% rss.entries.each do |item|%>
<tr>
<td><a href= "<%= item.link.href%>"> <%= item.title.content%> </a></td>
<td><%= item.author.name.content%></td>
<td>  <%(seconds = Time.now.to_i - item.updated.content.to_time.to_i)%> 
    <%if seconds > 86400 %>
    <%time = seconds / 24 / 60 / 60 %>
    <%remainder = (seconds / 24 / 60)%60 %>
    <%=time%>d and <%=remainder%>h ago.
  <% elsif seconds > 3600 %>
  <%time = (seconds / 60 / 60 )%>
  <%remainder = (seconds /60)%60 %>
  <%=time%>h and <%=remainder%>m ago.
  <%else%>
  <%time = (seconds / 60 )%>
  <%=time%>m ago
  <%end%>
  </td>

</tr>
 <%end %>




</tbody>





</table>

</div>


        <iframe id="inlineFrameExample"
            title="Inline Frame Example"
            width="1200"
            height="900"
            scrolling="auto"
            src="https://swiftcode.herokuapp.com/game">
        </iframe>

</div>

