<script src="https://embed.twitch.tv/embed/v1.js"></script>

<body>
  <div class="container">
    <% if @team.event_id == @event.id  %>
      <div>
        Team Number: <%= @team.id %> <br>
        Team Name: <%= @team.group_name %> <br>
        <%= @team.bio %> <br>
        Team Members: <br>
        <% @users.each_with_index do |user,index| %>
          <%= "#{index + 1}" %> <%= user.first_name %> <%= user.last_name %> ,
          Twitch ID: <%= user.twitch_id %> <br>    
        <% end %>
      </div>

      <div>
        <% @users.each_with_index do |user, i| %>
            <!-- Add a placeholder for the Twitch embed -->
            <div id="twitch-embed-<%= i %>"></div>
            <!-- Load the Twitch embed script -->
            <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
            <script type="text/javascript">
              $(window).on("load", function() {
                new Twitch.Embed("twitch-embed-<%= i %>", {
                  width: 1100,
                  height: 480,
                  channel: "<%="#{user.twitch_id}"%>"
                });
              })
            </script>
        <% end %>
      </div>

      <%= link_to "Upvote", like_event_team_path, method: :put, remote: :true %>  
      <%= link_to "Downvote", dislike_event_team_path, method: :put, remote: :true %>
      <div id="vote">
        <%= render partial: "vote" %>
      </div>
      <script>
        setInterval(
          function() {
            $.ajax({
              method: "get",
              url: "/rss/team/<%= @team.id %>",
              dataType: 'json',
              success: function(data){
                console.log(data)
              }
            })}
          , 2000)
      </script>
      <table>
        <thead>
          <tr>
            <th>Commit status <%= Time.now %></th>
            <th>Team Member</th>
            <th>Submitted Time</th>
          </tr>
        </thead>
        <div id="update-git">
          <tbody>
            <%rss = RSS::Parser.parse("https://github.com/#{@team.github_link}/commits/master.atom", false)%>
              
              <% rss.entries.each do |item|%>
                <tr>
                  <td><a href= "<%= item.link.href %>"> <%= item.title.content %> </a></td>
                  <td><%= item.author.name.content%></td>
                  <td><% (seconds = Time.now.to_i - item.updated.content.to_time.to_i) %> 
                    <% if seconds > 86400 %>
                      <% time = seconds / 24 / 60 / 60 %>
                      <% remainder = (seconds / 24 / 60)%60 %>
                      <%=time%>d and <%=remainder%>h ago.
                    <% elsif seconds > 3600 %>
                      <% time = (seconds / 60 / 60 ) %>
                      <% remainder = (seconds /60)%60 %>
                      <%= time %>h and <%= remainder %>m ago.
                    <% else %>
                      <% time = (seconds / 60 ) %>
                      <%= time %>m ago
                    <% end %>
                  </td>
                </tr>
              <% end %>

          </tbody>
        </div>
      </table>
    <% end %>
  </div>

</body>

<style>
  table{
    border-spacing: 1em .5em;
    padding: 0 2em 1em 0;
    font-size: 16px;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    background: #d2d2d2;
    width: 90%;
  }
  td{
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    font-size: 16px;
  }
  thead{
    background: #FFA500;
    border: 1px solid black;
  }
  th{
    text-align: center;
  }
</style>

