 <%= stylesheet_link_tag 'sessions.css' %>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <h2 class="inactive underlineHover">
      <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %> 
      <% end %>
     </h2>
        
    <!-- Icon -->
    <div class="fadeIn first">
      <img />
    </div>


<%= form_for :session, url: session_path do |form| %>

  
        <div class="text-field" >
          <%= form.label :email %>
          <%= form.text_field :email, type: 'email' %>
        </div>
        
        <div class="password-field">
          <%= form.label :password %>
          <%= form.password_field :password %>
        </div>

        <div class="submit-field">
          <%= form.submit %>
        </div>


<% end %>


  <div id="formFooter" >
      <a class="underlineHover" href="#"></a>
      <%= link_to t(".forgot_password"), new_password_path %>
  </div>


</div>
</div>
</div>