

<nav id="mainNav" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" <%= link_to "HackLive", root_path %> </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="menulist" class="nav navbar-nav navbar-right"  >
                <li>
                    <a class="page-scroll" href="/#contact"> Contact</a>
                </li>
                <li>
                   <%= link_to 'View Account', users_path, method: :get %>
                </li>
                
                <li>
                    <a class="page-scroll" href="/events"> Hackathons </a>
                </li>
                <li> <% if signed_in? %>
                        <%= link_to 'Sign out', sign_out_path, method: :delete %>
            
                        Signed in as: <%= current_user.email %>
                        <%= image_tag current_user.avatar.thumb.to_s %>


 <% if current_user == nil %>
  <h5>Welcome New User</h5>
<% elsif current_user.player? %>
  <h5>Welcome Player get ready to code!</h5>
  <% elsif current_user.viewer? %>
  <h5>Welcome Viewer</h5>
  <% elsif current_user.super_admin? %>
  <h5>Welcome Super Admin</h5>
<% else %>
  <h5>Welcome New</h5>
<% end %>


                      <% else %>
                        <%= link_to 'Sign in', sign_in_path %>
                </li>
                <li>
                      <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
                </li>
                <li>
                      <%= link_to "Sign in with Twitch", "/auth/twitch" %>
                     <% end %>
                </li>
            </ul>
        </div>
               <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->


</nav>


    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
             
    
