<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="events/1" class="portfolio-box">
                   <%= image_tag "https://s3.amazonaws.com/hacklive/uploads/event/event_images/1/CapitalOneHackathon1.png", class: "img-responsive", alt: "" %> 
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Past Event #1
                            </div>
                            <div class="project-name">
                                Capital One DevExchange Hackathon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="events/2" class="portfolio-box">
                 <%= image_tag "https://s3.amazonaws.com/hacklive/uploads/event/event_images/2/Clover1.jpeg", class: "img-responsive", alt: "" %> 
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Past Event #2
                            </div>
                            <div class="project-name">
                                Clover Hackathon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="events/3" class="portfolio-box">
                    <%= image_tag "https://s3.amazonaws.com/hacklive/uploads/event/event_images/3/Mastercard1.jpeg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Past Event #3
                            </div>
                            <div class="project-name">
                                Mastercard Hackathon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="events/4" class="portfolio-box">
                    <%= image_tag "https://s3.amazonaws.com/hacklive/uploads/event/event_images/4/Synchrony1.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Past Event #4
                            </div>
                            <div class="project-name">
                                Synchrony Financial Hackathon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="events/5" class="portfolio-box">
                    <%= image_tag "https://s3.amazonaws.com/hacklive/uploads/event/event_images/5/Visa1.jpeg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Past Event #5
                            </div>
                            <div class="project-name">
                                Visa Hackathon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="events/6" class="portfolio-box">
                    <%= image_tag "https://s3.amazonaws.com/hacklive/uploads/event/event_images/6/Worldpay1.jpeg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Past Event #6
                            </div>
                            <div class="project-name">
                                Worldpay Hackathon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>