<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="events/1" class="portfolio-box">
                   <%= image_tag "creative/portfolio/Devexchangeevent.png", class: "img-responsive", alt: "" %> 
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Past Event #1
                            </div>
                            <div class="project-name">
                                Capital One DevExchange Hackathon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="events/2" class="portfolio-box">
                 <%= image_tag "creative/portfolio/Cloverevent.jpg", class: "img-responsive", alt: "" %> 
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Past Event #2
                            </div>
                            <div class="project-name">
                                Clover Hackathon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="events/3" class="portfolio-box">
                    <%= image_tag "creative/portfolio/Mastercardevent.jpeg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Past Event #3
                            </div>
                            <div class="project-name">
                                Mastercard Hackathon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="events/4" class="portfolio-box">
                    <%= image_tag "creative/portfolio/Synchronyfinancialevent.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Past Event #4
                            </div>
                            <div class="project-name">
                                Synchrony Financial Hackathon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="events/5" class="portfolio-box">
                    <%= image_tag "creative/portfolio/Visaevent.jpeg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Past Event #5
                            </div>
                            <div class="project-name">
                                Visa Hackathon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="events/6" class="portfolio-box">
                    <%= image_tag "creative/portfolio/worldpayevent.jpeg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Past Event #6
                            </div>
                            <div class="project-name">
                                Worldpay Hackathon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

