<%= stylesheet_link_tag 'eventshow.css' %>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
</head>



<h1> <%= @events.topic %> </h1>


<div class="card-carousel"> 
  <% @events.event_images.each do |image| %>
   <div class="my-card"> 
  <%= image_tag image.url, style:"height: 400px; width: 520px;" %>
  </div>
  <% end %>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 

<script>
$num = $('.my-card').length;
$even = $num / 2;
$odd = ($num + 1) / 2;

if ($num % 2 == 0) {
  $('.my-card:nth-child(' + $even + ')').addClass('active');
  $('.my-card:nth-child(' + $even + ')').prev().addClass('prev');
  $('.my-card:nth-child(' + $even + ')').next().addClass('next');
} else {
  $('.my-card:nth-child(' + $odd + ')').addClass('active');
  $('.my-card:nth-child(' + $odd + ')').prev().addClass('prev');
  $('.my-card:nth-child(' + $odd + ')').next().addClass('next');
}

$('.my-card').click(function() {
  $slide = $('.active').width();
  console.log($('.active').position().left);
  
  if ($(this).hasClass('next')) {
    $('.card-carousel').stop(false, true).animate({left: '-=' + $slide});
  } else if ($(this).hasClass('prev')) {
    $('.card-carousel').stop(false, true).animate({left: '+=' + $slide});
  }
  
  $(this).removeClass('prev next');
  $(this).siblings().removeClass('prev active next');
  
  $(this).addClass('active');
  $(this).prev().addClass('prev');
  $(this).next().addClass('next');
});



// Keyboard nav
$('html body').keydown(function(e) {
  if (e.keyCode == 37) { // left
    $('.active').prev().trigger('click');
  }
  else if (e.keyCode == 39) { // right
    $('.active').next().trigger('click');
  }
});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>



<div id= "imagesContainer">
    <%= link_to 'Join the challenge', new_event_team_path(@event), class: "button" %>
    <%= link_to "View Teams", event_teams_path(@event), class: "button" %>
</div>

    <div class = "container" >
   
        <h2> When </h2>
            <h3> <strong> Time: </strong> <%= @events.time %> <br/>
                 <strong> Date: </strong> <%= @events.date %> </h3> 

        <h2> <!-- <td><%= @events.winning_team %></td> --> </h2>

        <h2> The Challenge  </h2>  
            <h3> <%= @events.description %> <h3> 
                  
        <h2> Prize </h2>
            <h3> <%= @events.prize %> </h3>

                  <% if current_user.super_admin?%>
                  <%= link_to 'Edit', edit_event_path(@events.id), class: "btn btn-outline-primary mr-3"%>
                  <%= link_to 'Destroy', @events, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
                  <%end%>
    </div> <!---- end container ---- >



</body>
</html>


