<head> 

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="js/jquery.waterwheelCarousel.min.js"></script>

<%= stylesheet_link_tag 'eventshow.css' %>

<script>
$(document).ready(function () {
  var carousel = $("#carousel").waterwheelCarousel({
    flankingItems: 3,
  });

  $('#prev').bind('click', function () {
    carousel.prev();
    return false
  });

  $('#next').bind('click', function () {
    carousel.next();
    return false;
  });
});
</script>

</head>




<body>
<h1> <%= @events.topic %> </h1>

<div id="carousel"> 
<img src="images/1.jpg" id="item-1" /> 
<img src="images/2.jpg" id="item-2" /> 
<img src="images/3.jpg" id="item-3" /> 
<img src="images/4.jpg" id="item-4" /> 
<img src="images/5.jpg" id="item-5" /> 
<img src="images/6.jpg" id="item-6" /> 
<img src="images/7.jpg" id="item-7" /> 
<img src="images/8.jpg" id="item-8" /> 
<img src="images/9.jpg" id="item-9" /> 
</div>
<a href="#" id="prev">Prev</a>
<a href="#" id="next">Next</a>



<div id= "imagesContainer">
    <%= link_to 'Join the challenge', new_event_team_path(@event), class: "button" %>
    <%= link_to "View Teams", event_teams_path(@event), class: "button" %>
</div>


    <div class="container">
        <h2> When </h2>
            <h3> Time <%= @events.time %> <br/>
                 Date: <%= @events.date %> </h3> 

        <h2> <!-- <td><%= @events.winning_team %></td> --> </h2>

        <h2> The Challenge  </h2>  
            <h3> <%= @events.description %> <h3> 
                  
        <h2> Prize </h2>
            <h3> <%= @events.prize %> </h3>

                  <% if current_user.super_admin?%>
                  <%= link_to 'Edit', edit_event_path(@events.id), class: "btn btn-outline-primary mr-3"%>
                  <%= link_to 'Destroy', @events, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
                  <%end%>
    </div> <!---- end container ---- >

</body>

